body {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.first-section {
    background: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;
}

.header-left, .header-right {
    display: flex;
    gap: 16px;
    padding-top: 8px;

}

.header-left {
    color: #F9FAF8;
    font-size: 24px;
}

.header-right {
    font-size: 18px;
}

.top-page-text {
    display: flex;
    justify-content: center;
    gap: 32px;
    background-color: #1F2937;
    color: white;
}

.main-heading {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}
.main-image {

    max-width: 300px;
    height: auto;
    
}

